:root {
  --transparent: transparent;
  --black: #000000;
  --white: #ffffff;
  --primary: #44e672;
  --secondary: #6eb883;
  --body: #455b4c;
  --heading: #46925e;
  --transition-basic: all 250ms linear;
  --font-family-body: 'Comfortaa', sans-serif;
  --font-family-heading: 'Bree Serif', serif;
  --font-size-small: 0.875rem;
  --font-size-default: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-body);
  color: var(--body);
  text-transform: lowercase;
  font-size: var(--font-size-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  color: var(--heading);
  text-transform: lowercase;
}

a {
  color: var(--body);
  transition: var(--transition-basic);
}

img {
  width: 100%;
}

a:hover {
  color: var(--primary);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.moved-header {
  width: 100%;
  background-color: var(--transparent);
  padding: 16px 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 102px;
  z-index: 10;
}

.moved-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moved-header-logo {
  width: 172px;
}

.moved-header-logo:hover {
  transform: scale(0.95);
}

.moved-header-nav {
  display: flex;
  gap: 0 16px;
}

.moved-header-nav a {
  text-transform: lowercase;
  font-weight: 700;
}

.moved-highlight {
  position: relative;
  padding: 148px 208px;
  width: 100%;
  background-image: url('assets/images/destaque.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 25%;
  min-height: 65vh;
}

.moved-highlight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0.75;
}

.moved-highlight-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px 0;
}

.moved-highlight-container h1 {
  font-size: 48px;
  text-shadow: 0 0 24px var(--white);
}

.btn {
  border-radius: 8px;
  outline: none;
  padding: 12px 24px;
  text-align: center;
  text-transform: lowercase;
  font-weight: 700;
  font-size: var(--font-size-small);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.moved-about {
  width: 100%;
  background-color: var(--white);
  padding: 80px 0;
}

.moved-about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 56px;
  width: 75%;
  margin: 0 auto;
}

.moved-about-img img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 9999px;
}

.moved-about-content {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.moved-about-content h2 {
  font-size: 28px;
}

.moved-services {
  width: 100%;
  background-color: var(--secondary);
  padding: 80px 0;
}

.moved-services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.moved-services-item {
  border-radius: 8px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.moved-services-item-content {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  padding: 28px 16px 224px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  transition: transform 500ms ease-in-out;
  transform: translateY(calc(100% - 76px));
  border-radius: 16px 16px 0 0;
  text-align: center;
}

.moved-services-item-content::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  width: 30%;
  height: 6px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 6px;
}

.moved-services-item-content h3 {
  font-size: 24px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.moved-services-item-content p {
  font-size: 14px;
  line-height: 1.35;
}

.moved-services-item:hover .moved-services-item-content {
  transform: translateY(0);
  border-radius: 8px 8px 0 0;
}

.moved-services-item:hover .moved-services-item-content h3 {
  text-wrap: wrap;
}
